<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or defaultTitle }}</title>
	<link rel="icon" href="{{ page | relative }}/logo.svg">
	<link rel="stylesheet" href="{{ page | relative }}/style.css" />


	{% if not id %}
	<script src="mavue.js" type="module"></script>
	{% else %}
		<script src="../v-app/v-app.js" type="module"></script>
		{% if type === "functions" %}
		<script type="module">
			import * as {{ id | CamelCase }} from "./{{ id }}.js";
			VApp.registerHelper({{ id | CamelCase }});
		</script>
		{% elseif id != "v-app" %}
		<script src="{{ id }}.js" type="module"></script>
		{% endif %}
		{% if hasCSS %}
		<link rel="stylesheet" href="style.css" />
		{% endif %}
	{% endif %}

	{{ includes | safe }}
</head>
<body>

<nav>
	<a href="#installation">Installation</a>
	{% if hasTests %}<a href="tests/">Tests</a>{% endif %}
	<a href="https://github.com/mavoweb/mavue/tree/main/{{ id }}">GitHub</a>
</nav>

{% if id and id != "v-app" %}
<section style="font-style: italic">
	All examples below use <a href="../v-app/"><code>&lt;v-app></code></a> as well, for clarity,
	but you can use {{ title | escape }} on your own VueJS apps, without <a href="../v-app/"><code>&lt;v-app></code></a>.
</section>
{% endif %}

{{ content | safe }}




{% if id %}
	<section>

	<h2 id="installation">Installation</h2>

	{% if id === "v-app" %}
	<p>Just include this JS file before any other MaVue helpers and you’re good:
	{% else %}
	<p>If using <code>&lt;v-app></code>, all you need to do is include this JS file after it and you’re good:

	{% endif %}

	<pre class="language-html"><code>&lt;script src="https://mavue.mavo.io/{{ id }}/{{ id }}.js" type="module">&lt;/script></code></pre>

	{% if id !== "v-app" %}
		{% if type === "component" or type === "directive" %}
			<p>If not using <code>&lt;v-app></code>, you can import the component individually:

			<pre class="language-js"><code>
				import {{ id | CamelCase }} from "https://mavue.mavo.io/{{ id }}/{{ id }}.js";

				// Then use it in your VueJS app
				createApp({
					/* ... */
					{{ type }}s: {
						"{{ id | replace("v-", "") }}": {{ id | CamelCase }}
					}
				}).mount("#app");
			</code></pre>
		{% elseif type === "functions" %}
			<p>If not using <code>&lt;v-app></code>, you can import the functions individually:

			<pre class="language-js"><code>
				import * as {{ id | CamelCase }} from "https://mavue.mavo.io/{{ id }}/{{ id }}.js";

				// Then use it in your VueJS app
				createApp({
					/* ... */
					methods: {
						...{{ id | CamelCase }}
					}
				}).mount("#app");
			</code></pre>
		{% endif %}
	{% endif %}
{% endif %}

</section>



<script src="{{ page | relative }}/global.js" type="module"></script>

</body>
</html>