#url_demo {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: .5em 1em;
	border: 1px solid hsl(var(--gray) 90%);
	background:hsl(var(--gray) 98%);
	padding: .5em;
	margin: 1em 0;

	& label,
	& output {
		display: contents;
	}

	& a {
		font-weight: bold;
	}
}